@page "/makefounditem"
@using Azure.Storage.Blobs
@using LostAndFoundWeb.Data
@using LostAndFoundWeb.Services
@using Microsoft.AspNetCore.Identity
@inject BlobServiceClient blob
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer
@inject ApplicationDbContext db
@rendermode InteractiveServer

<PageTitle>Make Found Item</PageTitle>
<h3>Report Found Item</h3>
<EditForm EditContext="_EditContext" FormName="MakeFoundItem" OnValidSubmit="Submit" method="post">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-floating mb-3">
        <InputText @bind-Value="FoundItem.Name" class="form-control" placeholder="Name"/>
        <label for="LostItem.Name" class="form-label">Name</label>
        <ValidationMessage For="() => FoundItem.Name" class="text-danger"/>
    </div>
    <div class="input-group">
        <div class="form-floating mb-3">
            <InputText @bind-Value="FoundItem.WordOne" class="form-control" placeholder="Word One"/>
            <label for="LostItem.WordOne" class="form-label">Word One</label>
            <ValidationMessage For="() => FoundItem.WordOne" class="text-danger"/>
        </div>
        <div class="form-floating mb-3">
            <InputText @bind-Value="FoundItem.WordTwo" class="form-control" placeholder="Word Two"/>
            <label for="LostItem.WordTwo" class="form-label">Word Two</label>
            <ValidationMessage For="() => FoundItem.WordTwo" class="text-danger"/>
        </div>
        <div class="form-floating mb-3">
            <InputText @bind-Value="FoundItem.WordThree" class="form-control" placeholder="Word Three"/>
            <label for="LostItem.WordThree" class="form-label">Word Three</label>
            <ValidationMessage For="() => FoundItem.WordThree" class="text-danger"/>
        </div>
    </div>
    <div class="form-floating mb-3">
        <InputText @bind-Value="FoundItem.Location" class="form-control" placeholder="Name"/>
        <label for="LostItem.Location" class="form-label">Location</label>
        <ValidationMessage For="() => FoundItem.Location" class="text-danger"/>
    </div>
    <InputFile OnChange="@LoadFiles" class="form-control" multiple accept=".png,.jpg,.jpeg"/>
    <ValidationMessage For="() => FoundItem.Urls" class="text-danger"/>
    <button type="submit" class="btn btn-primary mt-3">Submit</button>
</EditForm>
@if (SubmitButtonClicked)
{
    <div class="table-responsive">
        <tbody>
            <tr>
                @foreach (var item in ShowItems)
                {
                    <td>
                        <div class="card" style="width: 16rem;">
                            <img src="@item.Urls[0]" style="height:14rem;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Location </p>
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item">@item.WordOne, @item.WordTwo, @item.WordThree</li>
                            </ul>
                            <div class="card-body text-center">
                                <NavLink href="LostItemView">
                                    <button class="btn btn-primary" @onclick="() => StateContainer.LostItemFound(item)">Investigate</button>
                                </NavLink>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        </tbody>
    </div>
    <button type="button" class="btn btn-primary" @onclick="PostFoundItem">Post Found Item</button>
}

