@page "/makelostitem"
@using Azure.Storage.Blobs
@using LostAndFoundWeb.Data
@using LostAndFoundWeb.Services
@using Microsoft.AspNetCore.Identity
@inject BlobServiceClient blob
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserManager<ApplicationUser> UserManager
@inject NavigationManager NavigationManager
@inject StateContainer StateContainer
@inject ApplicationDbContext db
@rendermode InteractiveServer

<h3>Makelostitem</h3>
<EditForm EditContext="_EditContext" FormName="MakeLostItem" OnValidSubmit="Submit" method="post">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <div class="form-floating mb-3">
        <InputText @bind-Value="LostItem.Name" class="form-control" placeholder="Name"/>
        <label for="LostItem.Name" class="form-label">Name</label>
        <ValidationMessage For="() => LostItem.Name" class="text-danger"/>
    </div>
    <div class="input-group">
        <div class="form-floating mb-3">
            <InputText @bind-Value="LostItem.WordOne" class="form-control" placeholder="WordOne"/>
            <label for="LostItem.WordOne" class="form-label">WordOne</label>
            <ValidationMessage For="() => LostItem.WordOne" class="text-danger"/>
        </div>
        <div class="form-floating mb-3">
            <InputText @bind-Value="LostItem.WordTwo" class="form-control" placeholder="WordTwo"/>
            <label for="LostItem.WordTwo" class="form-label">WordTwo</label>
            <ValidationMessage For="() => LostItem.WordTwo" class="text-danger"/>
        </div>
        <div class="form-floating mb-3">
            <InputText @bind-Value="LostItem.WordThree" class="form-control" placeholder="WordThree"/>
            <label for="LostItem.WordThree" class="form-label">WordThree</label>
            <ValidationMessage For="() => LostItem.WordThree" class="text-danger"/>
        </div>
    </div>
    <div class="form-floating mb-3">
        <InputText @bind-Value="LostItem.Location" class="form-control" placeholder="Name"/>
        <label for="LostItem.Location" class="form-label">Location</label>
        <ValidationMessage For="() => LostItem.Location" class="text-danger"/>
    </div>
    <InputFile OnChange="@LoadFiles" class="form-control" multiple accept=".png,.jpg,.jpeg"/>
    <ValidationMessage For="() => LostItem.Urls" class="text-danger"/>
    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>
@if(SubmitButtonClicked)
{
    <div class="table-responsive">
        <tbody>
            <tr>
                @foreach(var item in ShowItems)
                {
                    <td>
                        <div class="card" style="width: 16rem;">
                            <img src="@item.Urls[0]" style="height:14rem;" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">@item.Name</h5>
                                <p class="card-text">@item.Location </p>
                            </div>
                            <ul class="list-group list-group-flush text-center">
                                <li class="list-group-item">@item.WordOne, @item.WordTwo, @item.WordThree</li>
                            </ul>
                            <div class="card-body text-center">
                                <NavLink href="FoundItemView">
                                    <button class="btn btn-primary" @onclick="() => StateContainer.FoundItemLost(item)">Investigate</button>
                                </NavLink>
                            </div>
                        </div>
                    </td>
                }
            </tr>
        </tbody>
    </div>
    <button type="button" class="btn btn-primary" @onclick="PostLostItem">Post Lost Item</button>
}

